<div class="main-app">
  <h3>Custom focus directive testing for the purpose of building accessible web components</h3>

  <div class="mg-bottom">
    <message-card
      customFocus
      next_id="second"
      id="first"
    >
      Sed ut perspiciatis unde omnis iste natus error</message-card>
  </div>

  <div class="mg-bottom">
    <message-card
      customFocus
      id="second"
    >
      Nemo enim ipsam voluptatem quia voluptas sit </message-card>
  </div>

  <div class="mg-bottom">
    <message-card customFocus>Ut enim ad minima veniam</message-card>
  </div>

  <h5>Created by @leomhcorrea</h5>
</div>
